body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.fullscreen-table {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Center the table horizontally */
    align-items: center; /* Center the table vertically */
}

table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid;
}

th, td{
    border: 5px solid; /*Wednesday ako na lang plsss*/
}
